@import "sanitize.css";
@import "linearicons.scss";

* {
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  font-size: 62.5%;
  font-weight: 400;
}

html {
  font-family: -apple-system, 'BlinkMacSystemFont', "Hiragino Sans", "Hiragino Kaku Gothic proN", YuGothic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: #F0F0E6;
    header, main, footer {
      min-width: 375px;
      width: 100%;
      margin: 0 auto;
    }
    footer {
      margin-top: auto;
    }
    a {
      color: inherit;
      &:hover {
        color: inherit
      }
    }
    button {
      border: 0;
      background-color: #fff;
      outline: none;
      cursor: pointer;
    }
    ul {
      li {
        list-style-type: none;
      }
    }
  } //body
} //html

header {
  position: relative;
}
main {
  padding: 56px 0 56px;
  margin: -56px 0 -56px;
}
.prevButton {
  position: absolute;
  top: calc((40px - 20px) / 2);
  left: 16px;
  z-index: 21;
  line-height: 1;
  &:before {
    content: "\e93b";
    @include linearicons;
    color: #92AA34;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1;
  }
}

.sendButton {
  position: absolute;
  top: calc((40px - 20px) / 2);
  right: 16px;
  z-index: 21;
  line-height: 1;
  &:before {
    content: "\e98e";
    @include linearicons;
    color: #92AA34;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  /* Rectangle 2: */
  margin-bottom: 24px ;
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(170,170,170,0.50);
  z-index: 20;
  h1 {
    /* だめレポ: */
    font-size: 16px;
    font-weight: normal;
    color: #92AA34;
    letter-spacing: 0;
    img {
      width: 100px;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer {
  display: flex;
  width: 100%;
  height: 48px;
  background-color: #fff;
  border-top: solid 1px #aaa;
  &__item {
    width: calc(100% / 3);
    padding: 7px 0;
    font-size: .8rem;
    line-height: 1;
    span {
      display: block;
      width: 100%;
    }
    &:before {
      width: 100%;
      display: block;
      margin-bottom: 4px;
      @include linearicons;
      font-size: 2rem;
      line-height: 1;
    }
    &.home {
      &:before {
        content: "\e600";
      }
    }
    &.search {
      &:before {
        content: "\e922";
      }
    }
    &.user {
      padding: 7px 0;
      &:before {
        content: "\e71e";
      }
    }
    &.active {
      color: #92AA34;
      font-weight: bold;
      &:before {
        font-weight: bold;
      }
    }
  }
}

.timeline {
  padding: 0 16px;
  &__element {
    &:not(:first-child) {
      margin-top: 24px;
    }
  }
}

.postCard {
  width: 100%;
  padding: 12px 0 0;
  background: #fff;
  box-shadow: 0 4px 8px 2px rgba(170,170,170,0.50);
  border-radius: 4px;
  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 0 16px;
    &__icon {
      width: 32px;
      height: 32px;
      img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        border: solid 1px #ddd;
      }
    }
    &__info {
      margin-left: 8px;
      &__name {
        font-size: 1.2rem;
        color: #222;
        letter-spacing: 0;
      }
      &__date {
        /* 9月14日(木) 17:05: */
        font-size: .8rem;
        color: #AAA;
        letter-spacing: 0;
      }
    }
    &__follow {
      margin-left: auto;
      padding: 0 8px;
      /* Rectangle: */
      background: #FFFFFF;
      border: 1px solid #92AA34;
      border-radius: 4px;
      font-size: 1.2rem;
      color: #92AA34;
      letter-spacing: 0;
      &:before {
        content: "\e71f";
        @include linearicons;
        font-weight: bold;
        margin-right: 4px;
      }
      &:after {
        content: "フォローする";
      }
      &.active {
        &:before {
          content: "\e71e";
        }
        &:after {
          content: "フォロー中";
        }
      }
    }
    &__menu {
      margin-left: 8px;
      &:before {
        padding: 0 4px;
        content: "\e9e9";
        font-size: 1.2rem;
        @include linearicons;
      }
    }
  }
  &__image {
    position: relative;
    width: 100%;
    height: 220px;
    margin-bottom: 12px;
    &__title {
      position: absolute;
      left: 12px;
      bottom: 12px;
      display: inline-block;
      padding: 4px 8px;
      box-shadow: 0 4px 8px 2px rgba(136,136,136,0.50);
      border-radius: 4px;
      /* dinner: */
      background: #fff;
      /* 若鶏の唐揚げ: */
      font-size: 1.2rem;
      color: #92AA34;
      line-height: 1;
      letter-spacing: 0;
      &:before {
        content: "\e811";
        margin-right: 4px;
        @include linearicons;
        font-weight: bold;
      }
    }
    &__cont {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__cont {
    margin-bottom: 12px;
    padding: 0 16px;
    &__text {
      font-size: 12px;
      color: #666;
      letter-spacing: 0;
      margin-bottom: 8px;
      line-height: 1.25;
      .bold {
        color: #333;
        font-weight: bold;
      }
    }
    &__status {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      color: #666666;
      letter-spacing: 0;
    }
  }
  &__button {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #ddd;
    &__item {
      width: calc(100% / 3);
      padding: 12px 0;
      font-size: 1.2rem;
      &:before {
        content: "";
        margin-right: 4px;
        font-size: 1.2rem;
        line-height: 1;
        @include linearicons;
      }
      &.heart:before {
        content: "\e8ae";
      }
      &.heart:after {
        content: "応援する";
      }
      &.heart.active {
        color: #92AA34;
        &:after {
          content: "応援中";
        }
      }
      &.comment:before {
        content: "\e7d6";
      }
      &.share:before {
        content: "\e920";
      }
    }
  }
  &__comment {
    border-top: solid 1px #ddd;
    padding: 12px 16px;
    &__item {
      display: flex;
      &:not(:first-child) {
        margin-top: 16px;
      }
      &__icon {
        display: block;
        width: 24px;
        height: 24px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        border: solid 1px #ddd;
      }
      &__cont {
        width: calc(100% - 24px - 8px - 16px - 24px);
        margin-left: 8px;
        color: #666;
        font-size: 1.2rem;
        .userId {
          font-weight: bold;
          color: #333;
        }
        &__menu {
          display: flex;
          margin-top: 8px;
          font-size: 1rem;
          .normal {

          }
          .bold {
            font-weight: bold;
          }
          .comment {
            font-weight: bold;
          }
          *:not(:first-child) {
            margin-left: 16px;
          }
        }
      }
      &__thank {
        position: relative;
        width: 24px;
        height: 24px;
        margin-top: 16px;
        margin-left: 16px;
        border-radius: 50%;
        border: solid 1px #666;
        &:before {
          position: absolute;
          top: calc((24px - 18px) / 2);
          left: calc((24px - 18px) / 2);
          content: "\e6dd";
          font-size: 1.6rem;
          @include linearicons;
        }
        &.active {
          border: none;
          background-color: #92AA34;
          &:before {
            color: #fff;
          }
        }
      }
    }
  } //comment
  &__send {
    display: flex;
    padding: 12px 16px;
    border-top: solid 1px #ddd;
    &__icon {
      width: 24px;
      height: 24px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      border: solid 1px #ddd;
    }
    &__input {
      width: calc(100% - 24px - 8px - 8px - 20px);
      height: 24px;
      padding: 0 8px;
      background: #EEEEEE;
      border: 1px solid #DDDDDD;
      border-radius: 100px;
      font-size: 12px;
      color: #666;
      letter-spacing: 0;
    }
    &__button {
      &:before {
        content: "\e699";
        font-size: 1.6rem;
        @include linearicons;
      }
    }
    *:not(:first-child) {
      margin-left: 8px;
    }
  }
}

main > .user {
  min-height: calc(100vh - 56px - 56px);
}

.user {
  background-color: #fff;
  padding: 16px 0 0;
  &__header {
    display: flex;
    align-items: center;
    padding: 0 16px 12px;
    &__icon {
      width: 56px;
      height: 56px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      border: solid 1px #ddd;
    }
    &__right {
      width: calc(100% - 16px - 56px);
      margin-left: 16px;
      &__follow {
        /* 72フォロワー: */
        margin-bottom: 8px;
        font-size: 1.2rem;
        color: #666;
        letter-spacing: 0;
        span {
          color: #666;
          font-weight: bold;
        }
        *:not(:first-child) {
          margin-left: 16px;
        }
      }
      &__function {
        display: flex;
        flex-wrap: wrap;
        &.follow {
          button {
            border: none;
            background-color: #92AA34;
            color: #fff;
            &.main {
              width: calc(100% - 4px - 20px);
              &:before {
                content: "\e71f";
              }
              &:after {
                content: "フォローする";
              }
            }
          }
        }
        &.following {
          button {
            &.main {
              width: calc(100% - 8px - 40px);
              &:before {
                content: "\e699";
              }
              &:after {
                content: "メッセージ";
              }
            }
          }
        }
        &.myPage {
          button {
            &.main {
              width: calc(100% - 4px - 20px);
              &:before {
                content: "\e60d";
              }
              &:after {
                content: "プロフィールを編集する";
              }
            }
          }
        }
        button {
          height: 20px;
          border: solid 1px #ddd;
          border-radius: 4px;
          &:before {
            @include linearicons;
            font-weight: bold;
          }
          &.main {
            padding: 0 4px;
            &:before {
              margin-right: 4px;
            }
          }
          &.cog:before {
            content: "\e672";
          }
          &.user:before {
            content: "\e71e";
          }
          &.down:before {
            content: "\e93a";
          }
          &.min {
            width: 20px;
            padding: 0;
          }
          &.long {

          }
          &:not(:first-child) {
            margin-left: 4px;
          }
        }
      }
    }
  }
  &__name {
    margin-bottom: 8px;
    padding: 0 16px;
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1;
  }
  &__text {
    margin-bottom: 16px;
    padding: 0 16px;
    font-size: 1.2rem;
    color: #666666;
    letter-spacing: 0;
    line-height: 1.25;
  }
  &__menu {
    display: flex;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    &__item {
      width: calc(100% / 2);
      padding: 12px 0;
      font-size: 1.2rem;
      text-align: center;
      .bold {
        font-weight: bold;
      }
      &.active {
        color: #92AA34;
        &:before {
          color: #92AA34;
        }
      }
      &.dish:before {
        content: "\e811";
      }
      &.comment:before {
        content: "\e7d6";
      }
      &:before {
        font-size: 1.2rem;
        margin-right: 4px;
        @include linearicons;
      }
    }
  }
  &__images {
    display: flex;
    flex-wrap: wrap;
    &__item {
      width: calc((100vw - 2px) / 3);
      height: calc((100vw - 2px) / 3);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      &:not(:nth-child(3n+1)) {
        margin-left: 1px;
      }
      &:nth-child(n+4) {
        margin-top: 1px;
      }
    }
  } //images
  &__comment {
    &__item {
      display: flex;
      padding: 12px 16px;
      font-size: 1.2rem;
      &__image {
        width: 40px;
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 4px;
      }
      &__right {
        width: calc(100% - 16px - 40px);
        margin-left: 16px;
        &__title {
          margin-bottom: 4px;
          color: #666;
          .bold {
            font-weight: bold;
            color: #333;
          }
        }
        &__text {
          margin-bottom: 4px;
          line-height: 1.25;
          color: #666;
        }
        &__foot {
          .date {
            color: #999;
          }
          .thank {
            margin-left: 16px;
            color: #999;
            font-weight: bold;
          }
        }
      }
      &:not(:first-child) {
        border-top: solid 1px #ddd;
      }
    }
  }
}
