@charset "UTF-8";
@import url(sanitize.css);
@font-face {
  font-family: 'Linearicons';
  src: url("../fonts/Linearicons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

:root {
  font-size: 62.5%;
  font-weight: 400; }

html {
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic proN", YuGothic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  html body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: #F0F0E6; }
    html body header, html body main, html body footer {
      min-width: 375px;
      width: 100%;
      margin: 0 auto; }
    html body footer {
      margin-top: auto; }
    html body a {
      color: inherit; }
      html body a:hover {
        color: inherit; }
    html body button {
      border: 0;
      background-color: #fff;
      outline: none;
      cursor: pointer; }
    html body ul li {
      list-style-type: none; }

header {
  position: relative; }

main {
  padding: 56px 0 0; }

.prevButton {
  position: absolute;
  top: calc((32px - 16px) / 2);
  left: 16px;
  z-index: 21;
  line-height: 1; }
  .prevButton:before {
    content: "\e93b";
    font-family: 'Linearicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Enable Ligatures ================ */
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #92AA34;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 32px;
  /* Rectangle 2: */
  margin-bottom: 24px;
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(170, 170, 170, 0.5);
  z-index: 20; }
  .header h1 {
    /* だめレポ: */
    font-size: 16px;
    color: #92AA34;
    letter-spacing: 0; }

.timeline {
  padding: 0 16px; }
  .timeline__element:not(:first-child) {
    margin-top: 24px; }

.postCard {
  width: 100%;
  padding: 12px 0 0;
  background: #fff;
  box-shadow: 0 4px 8px 2px rgba(170, 170, 170, 0.5);
  border-radius: 4px; }
  .postCard__head {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 0 16px; }
    .postCard__head__icon {
      width: 32px;
      height: 32px; }
      .postCard__head__icon img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%; }
    .postCard__head__info {
      margin-left: 8px; }
      .postCard__head__info__name {
        font-size: 1.2rem;
        color: #222;
        letter-spacing: 0; }
      .postCard__head__info__date {
        /* 9月14日(木) 17:05: */
        font-size: .8rem;
        color: #AAA;
        letter-spacing: 0; }
    .postCard__head__follow {
      margin-left: auto;
      padding: 0 8px;
      /* Rectangle: */
      background: #FFFFFF;
      border: 1px solid #92AA34;
      border-radius: 4px;
      font-size: 1.2rem;
      color: #92AA34;
      letter-spacing: 0; }
      .postCard__head__follow:before {
        content: "\e71f";
        font-family: 'Linearicons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Enable Ligatures ================ */
        -webkit-font-feature-settings: "liga";
        -moz-font-feature-settings: "liga=1";
        -moz-font-feature-settings: "liga";
        -ms-font-feature-settings: "liga" 1;
        -o-font-feature-settings: "liga";
        font-feature-settings: "liga";
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: bold;
        margin-right: 4px; }
      .postCard__head__follow:after {
        content: "フォローする"; }
      .postCard__head__follow.active:before {
        content: "\e71e"; }
      .postCard__head__follow.active:after {
        content: "フォロー中"; }
    .postCard__head__menu {
      margin-left: 8px; }
      .postCard__head__menu:before {
        padding: 0 4px;
        content: "\e9e9";
        font-size: 1.2rem;
        font-family: 'Linearicons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Enable Ligatures ================ */
        -webkit-font-feature-settings: "liga";
        -moz-font-feature-settings: "liga=1";
        -moz-font-feature-settings: "liga";
        -ms-font-feature-settings: "liga" 1;
        -o-font-feature-settings: "liga";
        font-feature-settings: "liga";
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
  .postCard__image {
    position: relative;
    width: 100%;
    height: 220px;
    margin-bottom: 12px; }
    .postCard__image__title {
      position: absolute;
      left: 12px;
      bottom: 12px;
      display: inline-block;
      padding: 4px 8px;
      box-shadow: 0 4px 8px 2px rgba(136, 136, 136, 0.5);
      border-radius: 4px;
      /* dinner: */
      background: #fff;
      /* 若鶏の唐揚げ: */
      font-size: 1.2rem;
      color: #92AA34;
      line-height: 1;
      letter-spacing: 0; }
      .postCard__image__title:before {
        content: "\e811";
        margin-right: 4px;
        font-family: 'Linearicons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Enable Ligatures ================ */
        -webkit-font-feature-settings: "liga";
        -moz-font-feature-settings: "liga=1";
        -moz-font-feature-settings: "liga";
        -ms-font-feature-settings: "liga" 1;
        -o-font-feature-settings: "liga";
        font-feature-settings: "liga";
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: bold; }
    .postCard__image__cont {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
  .postCard__cont {
    margin-bottom: 12px;
    padding: 0 16px; }
    .postCard__cont__text {
      font-size: 12px;
      color: #666;
      letter-spacing: 0;
      margin-bottom: 8px;
      line-height: 1.25; }
      .postCard__cont__text .bold {
        color: #333;
        font-weight: bold; }
    .postCard__cont__status {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      color: #666666;
      letter-spacing: 0; }
  .postCard__button {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #ddd; }
    .postCard__button__item {
      width: calc(100% / 3);
      padding: 12px 0;
      font-size: 1.2rem; }
      .postCard__button__item:before {
        content: "";
        margin-right: 4px;
        font-size: 1.2rem;
        line-height: 1;
        font-family: 'Linearicons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Enable Ligatures ================ */
        -webkit-font-feature-settings: "liga";
        -moz-font-feature-settings: "liga=1";
        -moz-font-feature-settings: "liga";
        -ms-font-feature-settings: "liga" 1;
        -o-font-feature-settings: "liga";
        font-feature-settings: "liga";
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      .postCard__button__item.heart:before {
        content: "\e8ae"; }
      .postCard__button__item.heart:after {
        content: "応援する"; }
      .postCard__button__item.heart.active {
        color: #92AA34; }
        .postCard__button__item.heart.active:after {
          content: "応援中"; }
      .postCard__button__item.comment:before {
        content: "\e7d6"; }
      .postCard__button__item.share:before {
        content: "\e920"; }
  .postCard__comment {
    border-top: solid 1px #ddd;
    padding: 12px 16px; }
    .postCard__comment__item {
      display: flex; }
      .postCard__comment__item:not(:first-child) {
        margin-top: 16px; }
      .postCard__comment__item__icon {
        display: block;
        width: 24px;
        height: 24px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%; }
      .postCard__comment__item__cont {
        width: calc(100% - 24px - 8px - 16px - 24px);
        margin-left: 8px;
        color: #666;
        font-size: 1.2rem; }
        .postCard__comment__item__cont .userId {
          font-weight: bold;
          color: #333; }
        .postCard__comment__item__cont__menu {
          display: flex;
          margin-top: 8px;
          font-size: 1rem; }
          .postCard__comment__item__cont__menu .bold {
            font-weight: bold; }
          .postCard__comment__item__cont__menu .comment {
            font-weight: bold; }
          .postCard__comment__item__cont__menu *:not(:first-child) {
            margin-left: 16px; }
      .postCard__comment__item__thank {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        margin-top: 16px;
        margin-left: 16px;
        border-radius: 50%;
        border: solid 1px #666; }
        .postCard__comment__item__thank:before {
          content: "\e6dd";
          font-size: 1.6rem;
          font-family: 'Linearicons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          /* Enable Ligatures ================ */
          -webkit-font-feature-settings: "liga";
          -moz-font-feature-settings: "liga=1";
          -moz-font-feature-settings: "liga";
          -ms-font-feature-settings: "liga" 1;
          -o-font-feature-settings: "liga";
          font-feature-settings: "liga";
          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
        .postCard__comment__item__thank.active {
          border: none;
          background-color: #92AA34; }
          .postCard__comment__item__thank.active:before {
            color: #fff; }
  .postCard__send {
    display: flex;
    padding: 12px 16px;
    border-top: solid 1px #ddd; }
    .postCard__send__icon {
      width: 24px;
      height: 24px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%; }
    .postCard__send__input {
      width: calc(100% - 24px - 8px - 8px - 20px);
      height: 24px;
      padding: 0 8px;
      background: #EEEEEE;
      border: 1px solid #DDDDDD;
      border-radius: 100px;
      font-size: 12px;
      color: #666;
      letter-spacing: 0; }
    .postCard__send__button:before {
      content: "\e699";
      font-size: 1.6rem;
      font-family: 'Linearicons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Enable Ligatures ================ */
      -webkit-font-feature-settings: "liga";
      -moz-font-feature-settings: "liga=1";
      -moz-font-feature-settings: "liga";
      -ms-font-feature-settings: "liga" 1;
      -o-font-feature-settings: "liga";
      font-feature-settings: "liga";
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .postCard__send *:not(:first-child) {
      margin-left: 8px; }

.user {
  background-color: #fff;
  padding: 16px 0 0; }
  .user__header {
    display: flex;
    align-items: center;
    padding: 0 16px 12px; }
    .user__header__icon {
      width: 56px;
      height: 56px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%; }
    .user__header__right {
      width: calc(100% - 16px - 56px);
      margin-left: 16px; }
      .user__header__right__follow {
        /* 72フォロワー: */
        margin-bottom: 8px;
        font-size: 1.2rem;
        color: #666;
        letter-spacing: 0; }
        .user__header__right__follow span {
          color: #666;
          font-weight: bold; }
        .user__header__right__follow *:not(:first-child) {
          margin-left: 16px; }
      .user__header__right__function {
        display: flex;
        flex-wrap: wrap; }
        .user__header__right__function.follow button {
          border: none;
          background-color: #92AA34;
          color: #fff; }
          .user__header__right__function.follow button.main {
            width: calc(100% - 4px - 20px); }
            .user__header__right__function.follow button.main:before {
              content: "\e71f"; }
            .user__header__right__function.follow button.main:after {
              content: "フォローする"; }
        .user__header__right__function.following button.main {
          width: calc(100% - 8px - 40px); }
          .user__header__right__function.following button.main:before {
            content: "\e699"; }
          .user__header__right__function.following button.main:after {
            content: "メッセージ"; }
        .user__header__right__function.myPage button.main {
          width: calc(100% - 4px - 20px); }
          .user__header__right__function.myPage button.main:before {
            content: "\e60d"; }
          .user__header__right__function.myPage button.main:after {
            content: "プロフィールを編集する"; }
        .user__header__right__function button {
          height: 20px;
          border: solid 1px #ddd;
          border-radius: 4px; }
          .user__header__right__function button:before {
            font-family: 'Linearicons';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            /* Enable Ligatures ================ */
            -webkit-font-feature-settings: "liga";
            -moz-font-feature-settings: "liga=1";
            -moz-font-feature-settings: "liga";
            -ms-font-feature-settings: "liga" 1;
            -o-font-feature-settings: "liga";
            font-feature-settings: "liga";
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-weight: bold; }
          .user__header__right__function button.main {
            padding: 0 4px; }
            .user__header__right__function button.main:before {
              margin-right: 4px; }
          .user__header__right__function button.cog:before {
            content: "\e672"; }
          .user__header__right__function button.user:before {
            content: "\e71e"; }
          .user__header__right__function button.down:before {
            content: "\e93a"; }
          .user__header__right__function button.min {
            width: 20px;
            padding: 0; }
          .user__header__right__function button:not(:first-child) {
            margin-left: 4px; }
  .user__name {
    margin-bottom: 8px;
    padding: 0 16px;
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1; }
  .user__text {
    margin-bottom: 16px;
    padding: 0 16px;
    font-size: 1.2rem;
    color: #666666;
    letter-spacing: 0;
    line-height: 1.25; }
  .user__menu {
    display: flex;
    border-top: solid 1px #ddd; }
    .user__menu__item {
      width: calc(100% / 2);
      padding: 12px 0;
      font-size: 1.2rem;
      text-align: center; }
      .user__menu__item .bold {
        font-weight: bold; }
      .user__menu__item.active {
        color: #92AA34; }
        .user__menu__item.active:before {
          color: #92AA34; }
      .user__menu__item.dish:before {
        content: "\e811"; }
      .user__menu__item.comment:before {
        content: "\e7d6"; }
      .user__menu__item:before {
        font-size: 1.2rem;
        margin-right: 4px;
        font-family: 'Linearicons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Enable Ligatures ================ */
        -webkit-font-feature-settings: "liga";
        -moz-font-feature-settings: "liga=1";
        -moz-font-feature-settings: "liga";
        -ms-font-feature-settings: "liga" 1;
        -o-font-feature-settings: "liga";
        font-feature-settings: "liga";
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
  .user__images {
    display: flex;
    flex-wrap: wrap; }
    .user__images__item {
      width: calc((100vw - 2px) / 3);
      height: calc((100vw - 2px) / 3);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      .user__images__item:not(:nth-child(3n+1)) {
        margin-left: 1px; }
      .user__images__item:nth-child(n+4) {
        margin-top: 1px; }
  .user__comment__item {
    display: flex;
    padding: 12px 16px;
    font-size: 1.2rem; }
    .user__comment__item__image {
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 4px; }
    .user__comment__item__right {
      width: calc(100% - 16px - 40px);
      margin-left: 16px; }
      .user__comment__item__right__title {
        margin-bottom: 4px;
        color: #666; }
        .user__comment__item__right__title .bold {
          font-weight: bold;
          color: #333; }
      .user__comment__item__right__text {
        margin-bottom: 4px;
        line-height: 1.25;
        color: #666; }
      .user__comment__item__right__foot .date {
        color: #999; }
      .user__comment__item__right__foot .thank {
        margin-left: 16px;
        color: #999;
        font-weight: bold; }
    .user__comment__item:not(:first-child) {
      border-top: solid 1px #ddd; }
