<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">
  <link rel="stylesheet" href="/assets/style/style.css">
  <script src="/assets/js/jquery.min.js"></script>
  <script> user_id = <%= @user_id %>; </script>
  <script src="/assets/js/user_profile.js"></script>
  <script src="assets/js/common.js"></script>
  <title>Document</title>
</head>
<body>
  <header class="header">
  <%= if @user_id !== "1" do %>
    <button class="prevButton" type="button" name="button"></button>
  <% end %>
    <h1 class="titlename"></h1>
  </header>
  <main>
    <div class="user">
      <div class="user__header">
        <div class="user__header__icon"></div>
        <div class="user__header__right">
          <div class="user__header__right__follow">
            <button type="button" name="button"><span>72</span>フォロワー</button>
            <button type="button" name="button"><span>100</span>フォロー</button>
          </div>
          <%= if @user_id !== "1" do %>
          <div class="user__header__right__function follow">
            <button class="main" type="button" name="button"></button>
            <button class="min down" type="button" name="button"></button>
          </div>
          <div class="user__header__right__function following">
            <button class="main" type="button" name="button"></button>
            <button class="min user" type="button" name="button"></button>
            <button class="min down" type="button" name="button"></button>
          </div>
          <% else %>
          <div class="user__header__right__function myPage">
            <button class="main" type="button" name="button"></button>
            <button class="min cog" type="button" name="button"></button>
          </div>
          <% end %>
        </div>
      </div>
      <p class="user__name"></p>
      <p class="user__text"></p>
      <div class="user__menu">
        <button class="user__menu__item dish active" type="button" name="button"><span class="bold postnum"></span>投稿</button>
        <button class="user__menu__item comment" type="button" name="button"><span class="bold commentnum"></span>コメント</button>
      </div>
      <div class="user__images">
      </div>
      <div class="user__comment">
      </div>
    </div>
    </div><!-- /.user-->
  </main>
  <footer class="footer">
    <button class="footer__item home" type="button" name="button">ホーム</button>
    <button class="footer__item search" type="button" name="button">さがす</button>
    <button class="footer__item user <%= if @user_id === "1" do %>active<% end %>" type="button" name="button">MYページ</button>
  </footer>
</body>
</html>
